* {
    box-sizing: border-box;
}
a:hover {
color: burlywood;
}
header {
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #546f7c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    
}
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}
header nav ul li {
    display: inline-block; 
    color: #ffffff;  
}
header nav ul li a {
    color: #ffffff;
}
article {
    display: inline-flex;
}
#profile_pic {
    
    width: 250px;
    height: 320px;
    position: relative;
    left: 0;
}
.about_me {
    box-sizing: border-box;
    border: 5px solid black;
    padding: 30px;
    margin: 30px;
    border-radius: 25px;
}




 h1 {
    font-size: 38px;
}
.projects:hover {
  
 opacity: 0.5;   

}

#p1 {
   
    height: 400px;
    border: 5px solid black;
    margin: 10px 30px 10px 10px;
    background-image: url(./assets/imgs/P1.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 25px;
}

h2 {
    background-color: ivory;
    width: 160px;
    height: 30px;
}



.work2 {
display: flex;
height: 400px;
margin-right: 0;
flex-wrap: wrap;

}    
.work3 {
    width: 47%;
    margin: 10px;
    border: 5px solid black;  
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 25px;
}
#p2 {
    background-image: url(./assets/imgs/P2.jpg);
    
}
#p3 {
    background-image: url(./assets/imgs/P3.jpg);
   
}
#p4 {
    background-image: url(./assets/imgs/P4.jpg);
    
}
#p5 {
    background-image: url(./assets/imgs/P6.jpg);

}

footer h1 {
    
    text-align: center;
    
}


footer ul li  {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content ;
    height: fit-content;

    position: relative;
    left: 42%;

}
@media screen and (min-width: 798px) {
    main {
        flex-wrap: wrap;
    }
}


    
